exp
full_precision_weights/
weights
__pycache__/
ipytorch
tmp
log

# tmp files
*.swp
*.o
*.bak
.python-version
memory.config
config.*
:w*
;w*
*.txt
*.pyc
*-origin.py
convert_onnx.py
convert_onnx.sh
.config*
*.swn
*.swm
*.swo
